name: Check for Code Updates

on:
    schedule:
        - cron: '1 0 1 * *'
    workflow_dispatch:

jobs:
    check-http-status-codes-update:
        name: Check for HTTP Status Codes Update
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
            - run: npm install
            - uses: actions/github-script@v2
              with:
                script: |
                    const path = require( 'path' );
                    await require( path.resolve( './.github/checkForHttpStatusCodesUpdate.js' ) )( { github, core, context, dryRun: false } );

    check-qnetworkreply-error-codes-update:
        name: Check for QNetworkReply Error Codes Update
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
            - run: npm install
            - uses: actions/github-script@v2
              with:
                script: |
                    const path = require( 'path' );
                    await require( path.resolve( './.github/checkQNetworkReplyErrorCodeUpdate.js' ) )( { github, core, context, dryRun: false } );
